
<!-- <nav class="navbar  "> -->
 

  
  <!-- <a href="#" 
  class="navbar-brand mb-0 h2"
   mat-icon-button routerLink="/"><img src="https://worldline.com/content/dam/gotomarket/logo/logo-worldline.png"></a> -->
   
    
  
   <!-- <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="19" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"   >
    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
  </svg>
    Home
 -->
 <nav class="navbar navbar-expand-lg py-0 bg-dark shadow-sm">

  <div class="container">

    <a href="#" class="navbar-brand">

      <!-- Logo Image -->

      <img

        src="https://cdn.cookielaw.org/logos/a1193491-22b8-424b-b694-15702547fbdb/801d1787-9693-44ca-9c8f-eb1275195361/91530d9a-0ba8-4ec0-bedf-cf49db8da706/Worldline-Mint-Horizontal.png"

        width="45" alt="" class="d-inline-block align-middle mr-2">


      <!-- Logo Text -->

      

    </a>



    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"

      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"

      class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>



    <div id="navbarSupportedContent" class="collapse navbar-collapse">

      <ul class="navbar-nav   ">

        <li class="nav-item active"><a href="#" class="nav-link  ">Home<span class="sr-only"></span></a></li>

        <li class="nav-item "><a href="#"   class="nav-link  "  [routerLink]="['/login']" >Login</a></li>

      

      </ul>

    </div>

  </div>

</nav>



 
  <!-- <a   mat-icon-button routerLink="/" >Logout</a>
  </nav>
   -->




  