<p>search-modal works!</p>

<div id="container">

    <table *ngFor="let item of searchData" style="width:100%">

        <tr>

            <td>{{item.candidateId}}</td>

            <td>{{item.candidateName}}</td>

            <td>{{item.age}}</td>

            <td>{{item.expectedLwd}}</td>

            <td>{{item.location}}</td>

            <td>{{item.maritialStatus}}</td>

            <td>{{item.relevantExperiance}}</td>

            <td>{{item.skills}}</td>

            <td>{{item.technology}}</td>

            <td>{{item.totalExperiance}}</td>

           

        </tr>

    </table>

</div>
