<!-- <body style="color: #45beaa;">  -->
<div style="background-image: linear-gradient(to left,#8debff,rgb(78, 161, 78)); height: 100%;">
  
  <!-- <nav id="navbarMenu" class="navbar navbar-expand-lg navbar-light bg-light">

    <button id="modalButton" type="button" class="btn btn-info mx-3" (click)="registerCandidate()">
      Register Candidate
    </button>

    <div class="spacer"></div>
    <form class="form-inline d-flex align-items-center flex-nowrap ">
      <mat-form-field appearance="fill">
          <mat-label>Choose Filter</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of filter" [value]="item.value" (click)="displayFilter(item)">
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
     

       <ul >
       <li >
      <input #txt class="form-control mr-sm-2  " style="margin-top: 15px;" type="search" placeholder="Search" aria-label="Search" /></li></ul>
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" style="margin-left: 5px"
        (click)="search(filterValue, txt.value)">
        Search
      </button>
      
      
    </form>

  </nav> -->
  <nav id="navbarMenu" class="navbar navbar-light bg-light">

    <button id="modalButton" type="button" class="btn  mx-3  "  (click)="registerCandidate()">Register Candidate</button>
  
    <form class="form-inline d-flex align-items-center flex-nowrap;">
      
      <mat-form-field class="mt-2"  style="height:55px; width:130px;">
  
        <mat-label class="mt-5" id="modalButton" >Choose Filter</mat-label>
  
        <mat-select style="height:10px; width:130px">
  
          <mat-option style="margin-bottom: 0px;" *ngFor="let item of filter" [value]="item.value" (click)="displayFilter(item)">
  
            {{item.viewValue}}
  
          </mat-option>
  
        </mat-select>
  
      </mat-form-field>
      
     
      
      
      <input #txt class="form-control ms-3 mr-sm-2" type="search"  placeholder="Search" aria-label="Search">
  
      <button class="btn btn-outline-success ms-3 my-sm-0" type="submit" style="margin-left: 5px;" (click)="search(filterValue,txt.value)">Search</button>
     
    </form>
  
  </nav>
  

  <div cdkDropListGroup>
    <div class="example-container" style="width: 350px; padding-left: 70px">
      <div class="border border-light p-2 m-3 bg-light">
        <blockquote class="blockquote" style="color: black; text-align: center">
          BackLog
        </blockquote>
        <div style="max-height: 600px; overflow-y: auto" divid="#divId" name="mydiv" cdkDropList #backlg="cdkDropList"
          [cdkDropListData]="backlog" [cdkDropListConnectedTo]="[inprogress, inreview, doneList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div id="modalId" class="example-box" style="
          color: black;
          background-image: linear-gradient(#c4e759, #6de195);
          border-radius: 8px; margin:5px 5px 5px 5px  ;" 
          *ngFor="let item of backlog; let indexofEle = index" cdkDrag (click)="display(item)">
            <div class="container">
              <table>
                <tr>
                  <td>{{ item.candidateId }}</td>
                </tr>
                <tr>
                  <td>{{ item.candidateName }}</td>
                </tr>
                <tr>
                  <td>Loc- {{ item.location }}</td>
                </tr>
                <tr>
                  <td>LWD- {{ item.expectedLwd }}</td>
                </tr>
                <tr>
                  <td>Rel Exp- {{ item.relevantExperiance }}</td>
                </tr>
              </table>

              <!-- custom tag print -->
              <br>
              <table>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.gcm" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="GCM" #gcmLevel="ngModel"
                      (keyup.enter)="displayGCM(gcmLevel.value, item.candidateId)">
              </textarea>
                  </td>

                  <td>
                    <textarea [(ngModel)]="item.position" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Position" #pos="ngModel"
                      (keyup.enter)="displayPosition(pos.value, item.candidateId)">
              </textarea>
                  </td>
                </tr>
                <tr>

                  <td>
                    <textarea [(ngModel)]="item.duedate" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="DueDate" #ddate="ngModel"
                      (keyup.enter)="displayDueDate(ddate.value, item.candidateId)">
              </textarea>

                  </td>
                  <td>
                    <textarea [(ngModel)]="item.project" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Project" #proj="ngModel"
                      (keyup.enter)="displayProject(proj.value, item.candidateId)">
              </textarea>
                  </td>
                </tr>
              </table>
            </div>
            <!-- ------------- -->
          </div>
        </div>
      </div>
    </div>

    <div class="example-container" style="width: 350px; padding-left: 70px">
      <div class="border border-light p-2 m-3 bg-light">
        <blockquote class="blockquote" style="color: black; text-align: center">
          In Progress
        </blockquote>
        <div style="max-height: 600px; overflow-y: auto" cdkDropList #inprogress="cdkDropList"
          [cdkDropListData]="inProgress" [cdkDropListConnectedTo]="[inreview, backlg, doneList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" id="modalId" style="
          color: black;
          background-image: linear-gradient(#c1e3ff, #abc7ff);
          border-radius: 8px; margin:5px 5px 5px 5px "
          *ngFor="let item of inProgress" cdkDrag (click)="display(item)">
            <div class="container">
              <table>
                <tr>
                  <td>{{ item.candidateId }}</td>
                </tr>
                <tr>
                  <td>{{ item.candidateName }}</td>
                </tr>
                <tr>
                  <td>Loc- {{ item.location }}</td>
                </tr>
                <tr>
                  <td>LWD- {{ item.expectedLwd }}</td>
                </tr>
                <tr>
                  <td>Rel Exp- {{ item.relevantExperiance }}</td>
                </tr>
              </table>
              <br>
              <table>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.gcm" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="GCM" #gcmLevel="ngModel"
                      (keyup.enter)="displayGCM(gcmLevel.value, item.candidateId)">
              </textarea>
                  </td>
                  <td>
                    <textarea [(ngModel)]="item.position" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Position" #pos="ngModel"
                      (keyup.enter)="displayPosition(pos.value, item.candidateId)">
              </textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.duedate" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="DueDate" #ddate="ngModel"
                      (keyup.enter)="displayDueDate(ddate.value, item.candidateId)">
              </textarea>
                  </td>
                  <td>
                    <textarea
                    [(ngModel)]="item.project" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Project" #proj="ngModel"
                      (keyup.enter)="displayProject(proj.value, item.candidateId)">
              </textarea>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="example-container" style="width: 350px; padding-left: 70px">
      <div class="border border-light p-2 m-3 bg-light">
        <blockquote class="blockquote" style="color: black; text-align: center">
          In Review
        </blockquote>
        <div style="max-height: 600px; overflow-y: auto" cdkDropList #inreview="cdkDropList"
          [cdkDropListData]="inReview" [cdkDropListConnectedTo]="[doneList, backlg, inprogress]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" id="modalId" style="
              color: black;
              background-image: linear-gradient(#ad88ff, #6aacff);
              border-radius: 8px;margin:5px 5px 5px 5px 
            " *ngFor="let item of inReview" cdkDrag (click)="display(item)">
            <div class="container">
              <table>
                <tr>
                  <td>{{ item.candidateId }}</td>
                </tr>
                <tr>
                  <td>{{ item.candidateName }}</td>
                </tr>
                <tr>
                  <td>Loc- {{ item.location }}</td>
                </tr>
                <tr>
                  <td>LWD- {{ item.expectedLwd }}</td>
                </tr>
                <tr>
                  <td>Rel Exp- {{ item.relevantExperiance }}</td>
                </tr>
              </table>
              <br>
              <table>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.gcm" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="GCM" #gcmLevel="ngModel"
                      (keyup.enter)="displayGCM(gcmLevel.value, item.candidateId)">
                  </textarea>
                  </td>
                  <td>
                    <textarea [(ngModel)]="item.position" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Position" #pos="ngModel"
                      (keyup.enter)="displayPosition(pos.value, item.candidateId)">
                  </textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.duedate" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="DueDate" #ddate="ngModel" (keyup.enter)="
                      displayDueDate(ddate.value, item.candidateId)
                    ">
                  </textarea>
                  </td>
                  <td>
                    <textarea [(ngModel)]="item.project" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Project" #proj="ngModel"
                      (keyup.enter)="displayProject(proj.value, item.candidateId)">
                  </textarea>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="example-container" style="width: 350px; padding-left: 70px">
      <div class="border border-light p-2 m-3 bg-light">
        <blockquote class="blockquote" style="color: black; text-align: center">
          Done
        </blockquote>
        <div style="max-height: 600px; overflow-y: auto" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[backlg, inprogress, inreview]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" id="modalId" style="
              color: black;
              background-image: linear-gradient(#fdeb82, #d279ee);
              border-radius: 8px;margin:5px 5px 5px 5px 
            " *ngFor="let item of done" cdkDrag (click)="display(item)">
            <div class="container">
              <table>
                <tr>
                  <td>{{ item.candidateId }}</td>
                </tr>
                <tr>
                  <td>{{ item.candidateName }}</td>
                </tr>
                <tr>
                  <td>Loc- {{ item.location }}</td>
                </tr>
                <tr>
                  <td>LWD- {{ item.expectedLwd }}</td>
                </tr>
                <tr>
                  <td>Rel Exp- {{ item.relevantExperiance }}</td>
                </tr>
              </table>
              <br>
              <table>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.gcm" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="GCM" #gcmLevel="ngModel"
                      (keyup.enter)="displayGCM(gcmLevel.value, item.candidateId)">
                  </textarea>
                  </td>
                  <td>
                    <textarea [(ngModel)]="item.position" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Position" #pos="ngModel"
                      (keyup.enter)="displayPosition(pos.value, item.candidateId)">
                  </textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <textarea [(ngModel)]="item.duedate" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="DueDate" #ddate="ngModel" (keyup.enter)="
                      displayDueDate(ddate.value, item.candidateId)
                    ">
                  </textarea>
                  </td>
                  <td>
                    <textarea [(ngModel)]="item.project" class="textarea-inline-control" cdkTextareaAutosize
                      placeholder="Project" #proj="ngModel"
                      (keyup.enter)="displayProject(proj.value, item.candidateId)">
                  </textarea>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>