<body>
    <section class="vh-100" style="border-radius: 25px;">
        <div class="bootstrap-wrapper  ">



            <div id="border-radius" class="container  text-center  img-responsive img-fluid  " style="border-radius: 50%;">

                <br>
                <h1 class="text-center " style="color:lightseagreen;font-weight: bolder;">Welcome to Worldine </h1>
                <div id="conl" class="container h-100 w-100 rounded " >
                    <div class="row d-flex  h-75 w-75">
                        <div id="img" class="col-lg-6 d-flex align-items-center gradient-custom-2"
                            style="background-color:rgb(7, 0, 112);">
                            <div class="radius">
                                <form>
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                        &nbsp;
                                        <h1 style="font-size: 35px; color: #ffffff">Digital Payments for a Trusted World
                                        </h1>
                                        <p style="color: #FFFFFF">Boost your business with leading payments technology
                                        </p>
                                        <a href="https://worldline.com/en/home/solutions.html" target=""
                                            class="small p-md-2">Explore our solutions ›</a>
                                        &nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="img" class="col-lg-6 " style="background-color: aquamarine;">

                            <img src="https://reports.worldline.com/content/worldline-reports/en/home/_jcr_content/content/section/items/grid_1277535377/column3/image.img.png/1653903459802.png"
                                class="img-fluid">

                        </div>



                    </div>

                    <br>
                </div>





                <button [routerLink]="['/login']" routerLinkActive="router-link-active" mat-raised-button>
                    Login
                </button>



            </div>



        </div>
    </section>
</body>